    <img src="../../assets/img/frontPageImage.jpg" alt="Front Page Image Scenery" class="img-fluid frontImg">
<div class="container">
  <div class="row">
    <div class="col">
    <h1 class="text-center">Descobre Voluntariado que se ajuste a ti!!!</h1>
    <p class="text-center">
      Se sentes que não tens tempo para fazer voluntariado ou se sentes que não há nada indicado para ti vieste parar ao sitio mais indicado. Responde a algumas questões e poderás
      saber se existe algo indicado para ti e para as tuas disponibilidades
    </p>
    </div>
  </div>
  <div class="row">
    <button routerLink="Quiz" class="btn btn-primary mx-auto">Avançar</button>
  </div>

<div class="row">
  <div class="col">
    <h1 class="text-center">Podes fazer voluntariados nas seguintes associações</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="../../assets/img/angular.svg" alt="Association Icon" class="img-fluid">
  </div>
</div>
</div>

